{% extends 'base.html.twig' %}

{% block title %}Hello TodoController!{% endblock %}

{% block body %}

    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="container w-25 m-auto">
        {% if todo_list | length <= 0 %}

            <h3>You have no todos right now</h3>
        {% else %}

            {% for todo in todo_list %}
                <form action="/deleteTodo" method="post">
                    <p>{{ todo.getName() }}</p>
                    {% if(todo.isStatus is same as(true)) %}
                        <p>Completed</p>
                    {% else %}
                        <p>Incomplete</p>
                    {% endif %}
                    <input type="hidden" name="todoId" value="{{ todo.getId() }}">
                    <button class="btn btn-lg btn-primary w-100 py-2">Delete</button>
                </form>
                {% if(todo.isStatus is not same as(true)) %}
                    <form action="/updateTodo">
                        <input type="hidden" name="todoId" value="{{ todo.getId() }}">
                        <button class="btn btn-lg btn-primary w-100 py-2">Mark as completed</button>
                    </form>
                {% endif %}
            {% endfor %}

    {% endif %}
        <div class="container w-50 m-auto">
            <form action="/createTodo" method="get">
                <button class="btn btn-lg btn-primary w-100 py-2">Add todo</button>
            </form>
        </div>
    </div>
{% endblock %}
