#main-div {
    height: 100vh;
}

#create-new-todo {
    width: 20vw;
    height: 30vh;
    border: #B0413E solid 1px;
    margin-left: 40%;
    margin-top: 3%;
    margin-bottom: 2%;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px #93c5fd
}

#create-new-todo-heading {
    color: #B0413E
}

#create-button {
    margin-left: 33%
}

#todo-list-heading {
    color: #B0413E;
    text-align: center
}

#todo-list-div {
    overflow: auto;
    height: 56vh;
    width: 100vw
}